// TailwindCSS
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
	.responsive-container {
		@apply container mx-auto px-3;
	}

	.card {
		flex-basis: 100%;

		@apply bg-gray-100 hover:shadow-lg;
	}

	.card-layout {
		@apply grid grid-cols-1 gap-5 responsive-container width-transition sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4;
	}

	@media (min-width: 640px) {
		.card {
			flex-basis: calc(50% - 10px);
		}
	}

	@media (min-width: 1024px) {
		.card {
			flex-basis: calc((100% / 3) - 13.4px);
		}
	}

	@media (min-width: 1280px) {
		.card {
			flex-basis: calc(25% - 15px);
		}
	}
}

@layer utilities {
	.background-color-transition {
		transition: background-color 0.2s;
	}

	.font-transition {
		transition: font-size 0.2s, line-height 0.2s;
	}

	.height-transition {
		transition: height 0.2s, max-height 0.2s;
	}

	.shadow-transition {
		transition: box-shadow 0.2s;
	}

	.width-transition {
		transition: width 0.2s, max-width 0.2s;
	}
}

:root {
	--primary-color: #f59e0b;
}

html {
	box-sizing: border-box;
}

*,
::after,
::before {
	box-sizing: inherit;
}
