@forward "./auth_nav.component";
@forward "./button.component";
@forward "./confirmDialog.component";
@forward "./dropdown.component";
@forward "./cardHouse.component";
@forward "./galleria.component";
@forward "./input.component";
@forward "./table.component";
